@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
	font-family: 'Poppins', sans-serif;
}
h1{
  font-family:'Poppins', sans-serif;
}


body{
	background-color:#000000;
}
li, a {
	color:#edf0f1;
	font-weight:500;
	text-decoration:none;
}

header{
	display:flex;
	justify-content:space-between;
	align-items:center;
  flex-direction: row;
  text-align:center;
	background:linear-gradient(to right, black , #091E32);
}

.logo{
	width: 424px; 
    height:108px; 
	cursor:pointer;
}

#icone{
  width: 424px;
  height:108px;
  cursor:pointer;
  display:none;
}

nav{
	height:172px;
	list-style:none;
}

nav ul{
	margin-left:70px;
	margin-top:60px;
	word-spacing:10px;
}

nav ul li{
	display:inline-block;
	padding:0px 20px;
	font-size:35px;
	
}

nav ul li a{
	transition:all 0.3s ease 0%;
	border-radius: 70px;
}

nav ul li a:hover{
	background-color:#5FABF7;
	padding:2px 13px;
	border-radius: 70px;
	transition:0.3s;
}

.navtwo{
  visibility: hidden;
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:20px;
}
.navtwo a:hover{
  background-color:#5FABF7;
	padding:2px 13px;
	border-radius: 70px;
	transition:0.3s;
}
.conta{
	width:98px;
	height:98px;
	border:none;
	border-radius:100%;
	cursor: pointer;
	margin-right:22px;
}

input{
  display: none;
}
 
/* navegação  da ul e li*/ 
.navi ul li{ 
  display:inline-block; 
  line-height:70px; 
  margin-right:15px; 
} 
/* navegação da ul li a*/ 
.navi ul li a{ 
  text-decoration: none; 
  list-style: none; 
  color:#fff; 
  font-size:20px; 
  font-family: Arial; 
  padding:7px 13px; 
  text-transform: uppercase; 
  transition: .4s; 
  border-radius: 70px; 
} 
/* navegação com hover*/ 
.navi ul li a:hover{ 
  background:#5FABF7; 
  color:black; 
} 
/* section destaques */ 
#destaques{ 
  width:100%; 
  height:620px; 
  background: black; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  flex-direction:column; 
  margin-top:70px; 
  margin-top: -30px;
}
.dist:hover{
  transition:all .4s;
  transform:scale(1.2);
}
/* titulo do destaque */ 
#destaques h1{ 
  color:#5FABF7; 
  font-size:27px; 
  font-family: 'Poppins', Courier, monospace; 
   padding-bottom:50px;
  text-decoration: underline; 
} 
 
/* input bolinhas da section*/ 
#destaques input{ 
  display:none;  
} 
/* espaçamento entre as imagens*/ 
.containerslide{ 
  height:499.8px; 
  width:95%; 
  overflow:hidden; 
} 
/* posicionamento do carrosel*/ 
.dist{ 
    width:185px; 
    height:274px; 
    border:2px solid; 
    margin-top: 215px;
  } 
   
  /* barra com as bolinhas para rodar o carrosel*/ 
  .navigation{ 
    margin-top:10px; 
    display:flex; 
  } 
   
  /*  bolinhas do carrosel*/ 
  .bar{ 
    width:15px; 
    height:15px; 
    border:2px solid #000; 
    margin:6px; 
    border-radius:100%; 
    cursor:pointer; 
    transition:.3s; 
    background-color: white; 
    
  } 
   
  /*  hover nas bolinhas do carrosel*/ 
  .bar:hover{  
    background:#5FABF7;
    padding: 2px; 
  } 
   
  /* ajustes dos slides*/ 
  .slides{ 
    display:flex; 
    width:270%; 
    height:20%;
} 
 
/* efeito para passar slides*/ 
.s1{ 
  width:100%; 
  display:flex; 
  flex-direction:row; 
  animation: transition 20s ; 
} 
 
/* slide*/ 
.slide{ 
  width: 100%; 
  display:flex; 
  flex-direction:row; 
  justify-content:space-around; 
  align-items:center; 
  transition:.6s; 
} 
 
/* ajuste das imagens no slide*/ 
.slide img{ 
  width:150%; 
  height:150%;
  border-radius: 10px; 
} 
 
/* posição para ir passando as imagens nas bolinhas*/ 
#slide1:checked ~ .s1{ 
  margin-left:-1%; 
} 
 
#slide2:checked ~ .s1{ 
  margin-left:-34.3%; 
} 
#slide3:checked ~ .s1{ 
margin-left:-67.6%; 
}
footer{
    color: #5FABF7;
    background:linear-gradient(to bottom, black , #091E32);    
    text-align: center;
    word-spacing: 9px;
    margin-top: 50px;
}
@media screen and (min-width: 0px) and (max-width:500px) {
  .logo{
    display: none;
 }

 .conta{
  height:45px;
  width: 50px;
  margin-left:-10%;
 }
 #icone{
  display:block;
  width:40px;
  height:40px;
  margin-left:5px;
 }
body{
    max-width: 500px;
    overflow-x: hidden;
}
 header{
  width:500px;
  height:50px;
 } 

 nav ul li{
  margin-right:-5px;
  display:none;
  }
  input{
    display:flex;
    flex-direction: row;
    margin-top:-10px;
    margin-left: -125px;
    border-radius: 20px;
    width: 200px;
    height:35px;
    font-size:30px;
    text-align: center;
    transition:0.3s ease;
    border:none;
  }  
  input:hover{ 
    background-color: #cccccc;
  }

  .navtwo{
    visibility: visible;
    margin-right:-300px;
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    background-color: #000000;
  }
  .navtwo ul{
    margin-right: 300px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:30px;
    border-radius: 25px;
  } 
  .containerslide{
    overflow: hidden;
  }

  .dist{
    width: 240px;
    height: -100px;
    padding:20px;
  }

  .slides{ 
    display:flex; 
    width:400%; 
    height:100%;
    
} 
.slide img{
  height:100%;
  margin-top: -120px;
  width: 200px;
  border-radius: 10px;
}
h1{
  margin-top: 97px;

  padding-top: -10px;
 }
.slides img:hover{
  transition:all .4s;
  transform:scale(1.1);
}
#pesquisa::placeholder{
 font-size: 75%;
}
}